p, li {
	margin-bottom: 8pt;
}

h1 {
	margin: 12pt 0pt 8pt 0pt;
	font-size: 18pt;
}

h2 {
	margin-top: 12pt;
	margin-bottom: 8pt;
	font-size: 16pt;
}

h3 {
	margin-top: 12pt;
	margin-bottom: 8pt;
	font-size: 14pt;
}

img {
	horizontal-alignment: center;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

caption {
	horizontal-alignment: center;
	margin-top: 4pt;
	margin-bottom: 16pt;
}

.footnote-reference {
	font-style: superscript;
}

td {
	padding: 4pt;
}

table {
	horizontal-alignment: center;
	border: 0.7pt 0;
}

th {
	border: 0 0 0.5pt 0;
}